/* ==== VARIABLES ====*/
:root {
  --primary-color-1: hsl(193, 38%, 86%);
  --primary-color-2: hsl(150, 100%, 66%);

  --neutral-color-1: hsl(217, 19%, 38%);
  --neutral-color-2: hsl(217, 19%, 24%);
  --neutral-color-3: hsl(218, 23%, 16%);

  --font-size-quote: 28px;
  --font-weight: 800;
}

/* ==== FONTS ====*/
@font-face {
  font-family: Manrope-Extra-Light;
  src: url('./fonts/Manrope-Extra-Light.ttf');
}
@font-face {
  font-family: Manrope-Light;
  src: url('./fonts/Manrope-Light.ttf');
}
@font-face {
  font-family: Manrope-Medium;
  src: url('./fonts/Manrope-Medium.ttf');
}
@font-face {
  font-family: Manrope-Regular;
  src: url('./fonts/Manrope-Regular.ttf');
}
@font-face {
  font-family: Manrope-Semi-Bold;
  src: url('./fonts/Manrope-Semi-Bold.ttf');
}
@font-face {
  font-family: Manrope-Bold;
  src: url('./fonts/Manrope-Bold.ttf');
}
@font-face {
  font-family: Manrope-Extra-Bold;
  src: url('./fonts/Manrope-Extra-Bold.ttf');
}

/* ==== GENERAL STYLE ====*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-weight: var(--font-weight);
}
html{
  height: 100%;
}
body {
  display:flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  color: greenyellow;
  background: black;
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Manrope-Medium, Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }